
.orange{
    background-color: orange;
    width: 200px;
    height:50px;
    margin: auto;
    margin-top: 40vh;
}

.white{
    background-color: white;
    width: 200px;
    height:50px;
    margin: auto;
}

.green{
    background-color: green;
    width: 200px;
    height:50px;
    margin: auto;
}