* {
    margin:0;
}

.circle{
    box-sizing: border-box;
    border: 5px solid black;
    background-color: red;
    width: 60vh;
    height: 60vh;
    border-radius: 50%;
    /* Left se 20vh margin take */
    margin:auto;
    /* Horizontal centering */      
    margin-top: 20vh;   
}