*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height:100vh ;
    width:100vw ;
    background-color: antiquewhite;
}
.container{
    height: 45vw;
    width: 45vw;
    background-color: grey;
    display: grid;
    grid-template-columns:repeat(8,1fr);
    /* grid-template-rows: repeat(8,1fr); */
}

.white{
    background-color: white;
}

.black{
    background-color: black;
}