
.container{
    height: 800px;
    width: 800px;
    background-color: aqua;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    height: 300px;
    width: 300px;
    background-color: orange;
    margin: 10px;
    box-shadow: 5px 10px;
}