*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
}

.container{
    padding: 4rem;
    height: 100%;
    background-color: grey;
    height: 100%;
    display: grid;
    gap: 1rem;
    /* 
    grid-template-areas:
    "Box1 Box2 Box2 Box3"
    "Box1 Box4 Box5 Box6"
    "Box1 Box7 Box8 Box6" 
    */
    /*
    Align items and justify content is also used for positioning the element
    */
    
}

.box{
    background-color: green;
    font-size: 2rem;
}
.box3,.box5,.box7{

        background-color: red;
}

.box4,.box8{
        background-color:yellow;
}


@media (min-width:500px) {
    .container{
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(3,1fr);
    }

    .box1{
        grid-row: 1/4;
    }

    .box2{
        grid-column: 2/4;
    }

    .box6{
        grid-row: 2/4;
        grid-column: 4/5;
    }
} 

/* 
.box1{
    grid-area: Box1;
}

.box2{
    grid-area: Box2;
}

.box3{
    grid-area: Box3;
}

.box4{
    grid-area: Box4;
}

.box5{
    grid-area: Box5;
}


.box6{
    grid-area: Box6;
}

.box7{
    grid-area: Box7;
}

.box8{
    grid-area: Box8;
} 
*/