.container{
    background-color: blue;
    /* width: 400px;
    height: 500px; */
    display: flex;
}

.box{
    height:200px;
    width:300px;
    color: red;
    background-color: aqua;
    margin: 30px;
}

/* 
@media (max-width:500px){
    .container{
        background-color: aqua;
        height: 200px;
        width: 200px;
    }
} 
*/
/* Mobile Phone */
@media(max-width:600px){
    .container{
        flex-direction: column;
    }
}


/* Tablet */
@media (min-width:601px) and (max-width:900px){

    
}