*{
    margin: 0;
}

.horizontal_side{
    width: 100vw;
    height: 20vh;
    background-color:blue;
    margin: auto;
    margin-top: 45vh;
}
.vertical_side{
    width: 10vw;
    height: 100vh;
    background-color: blue;
    /*
    pin to the top of the viewport and center horizontally 
    */
    position: absolute;
    top: 0;
    left: 45%;
}

