*{

    margin:0;
}

.first,.third{
    display: inline-block;
    height: 40vh;
    width:25vw;
    background-color: red;
    display: inline-block;
}

.second,.forth{
    display: inline-block;
    height: 40vh;
    width: 50vw;
    background-color: red;
}

.second ,.forth{
    margin-left:23.8vw;
}

.third ,.forth{
    margin-top: 20vh;
}