*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    padding: 10rem;
}

.container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
    
}

.box{
    background-color: orange;
    font-size: 2rem;
    border: 5px solid black;
    height: 200px;
    width: 200px;
    transition: all;
    transition-duration: 2s;
    transition-timing-function: linear;
}

.box1:hover{
    transform: rotatex(-60deg);
}

.box2:hover{
    transform: rotatey(60deg);
}

.box3:hover{
    transform: rotatez(50deg);
}


.box4:hover{
    transform: translateX(200px);
}

.box5:hover{
    transform: translateY(200px);
}

.box6:hover{
    transform:perspective(300px) translateZ(200px);
}

.box7:hover{
    transform:scalex(2);
}

.box8:hover{
    transform:scaley(2);
}

.box9:hover{
    transform:perspective(200px) rotatey(45deg) scalez(2);
}