*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
}

.container{
    padding: 4rem;
    background-color: black;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
}

.box{
    height: 200px;
    width: 200px;
    background-color: orange;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: movement;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-delay: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    /* It is position relative with respect to that box */
    position: relative;
    border-radius: 50%;
}


@keyframes movemen{
    /* Initial Position */
    
    from{
        top: 0px;
        left: 0px;
        /* transfrom:translate(0px); */

    }to{
        top: 50px;
        left: 1000px;
        /* transfrom:translate(200px); */
    }
}

@keyframes movement{

    0%{
        transform:translate(0vw,0vh);
    }
    25%{
        transform:translate(30vw,-30vh)
    }
    50%{
        transform: translate(60vw,0vh);
    }
    75%{
        transform: translate(30vw,30vh);
    }
    100%{
        transform: translate(0vw,0vh);
    }
}

