*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
}

.container{
    padding: 4rem;
    background-color: black;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.box{
    background-color: orange;
    height: 150px;
    width: 150px;
    border-radius:5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    border-radius: 50%;
    animation-name: spin;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes spin{

    from{
        transform: rotate(0deg) translate(200px);

    }to{
        transform: rotate(360deg) translate(200px);
    }
}
