body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f3f4f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container{
    background-color: #ffffff;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 375px;
    height: 60%;
    align-items: center;
}

.first-name,.last-name,.age{
    margin-top: 10px;
    margin-bottom: 10px;
}

.div1,.div2,.div3{
    margin-top: 10px;
}

.button{
    position: relative;
    background-color: blue;
    color: white;
    width: 100%;
    height: 30px;
    margin-top: 20px;
}
