*{
    margin: 0;
}

body{
    background-color:rgb(255,239,239);
}

.card{
    display: inline-block;
    margin-left: 200px;
    margin-top:10px;
    cursor: pointer;
    border: 10px solid rgb(255,239,239) ;
}

.card:hover{
    background-color: white;
    border-color: white;
}

.Box{
    /* To combine the all means 2 content in one div */
    display:inline-block;
}
.image{
    position:relative;
}

.offer:hover{
    background-color:blue;
}

.offer{
    font-size: 30px;
    color:white;
    background-color:rgba(218, 43, 16, 0.6);
    position: absolute;
    bottom:20px;
    left: 5px;
    height: 25px;
    width: auto;
}

.img{
    height: 300px;
    width: 350px;
    border-radius: 10px;
}

.Restaurant_Name{
    font-size: 20px;
    font-weight: bold;
}

.Restaurant{
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}

.location{
    margin-top: 10px;
    margin-bottom: 10px;
}

.food{
    margin-top: 10px;
    margin-bottom: 10px;
}

.rating{
    background-color: green;
    height: 18px;
    position: absolute;
    right: 5px;
    color: white;
    padding: 2px;
    border-radius: 8px;
}


.food,.place{
    position: relative;
    font-size: 15px;
    color:gray
}

.location{
    position: relative;
}

.price,.distance{
    /*Viwport ke hisab se right me jayege hence parent ko relative maano*/
    position: absolute;
    right: 5px;
}

.distance{
    font-weight:bold;
    font-size: 15px;
}

.first{
    margin-left: 200px;
    margin-bottom:20px;

}

.second{
    padding-bottom:20px;
    position: sticky;
    top:0px;
    background-color: white;
}

.dining{
    margin-left:200px;
}

.img1,.img2,.img3{
    height: 70px;
    width: 70px;
}

.dine,.Delivery,.Nightlife{
    position: relative;
    bottom: 25px;
}

.delivery{
    margin-right: 50px;
    margin-left: 50px;
}

.brand{
    color: rgb(224, 8, 8);
    margin-right: 50px;
    font-weight: bold;
    font-size: 30px;
}

.searching{
    height: 30px;
    width: 300px;
    margin-right: 50px;
    position: relative;
    bottom: 13px;   
}

button{
    height: 50px;
    width:80px;
    position: relative;
    bottom: 10px;
    font-size: 15px;
    margin-right: 50px;
    background-color: white;
    border: none;
    color: gray;
}

.head{
    background-color: white;
}

.third{
    height: 500px;
    background-color:whitesmoke;
}

.brand_image{
    height: 300px;
    width: 250px;
    border-radius: 20px;
    display: inline-block;
}

.collections{
    margin-left: 200px;
    padding-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Exploration{
    margin-left: 200px;
    padding-bottom: 20px;
    color: gray;
}

.images_brandy{
     margin-left: 200px;
}
.brand_image{
    margin-right: 30px;
}

.strong{
    color:red;
    position: relative;
    margin-left: 370px;
}