/*By Default Order Is Equal to Zero */
/*Position Is Depends On The Order given by the User*/

.container{
    width: 100%;
    height: 800px;
    display: flex;
    background-color: aqua;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box{
    height: 150px;
    width: 150px;
    border:2px solid black;
}

.box1{
    background-color: red;
    align-self: flex-start;
}

.box2{
    background-color:green;
    flex-basis: 400px;
    /* if we have to give Width then flex-basis is used */
}

.box3{
    background-color: blue;
}

.box4{
    background-color:rgb(226, 151, 12);
}