/*
Mainly Grid is used to create complex layout
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
}

.container{
    padding: 5rem;
    height: 100%;
    width: 100%;
    background-color: gray;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 200px 200px; */
    margin: 1rem;
}

.box{
    font-size: 2rem;
    background-color:orange;
    border: 0.5rem solid black;
}

.header,.footer{
    grid-column-start:1;
    grid-column-end:4 ;
}

.sidebar{
    grid-row-start: 2;
    grid-row-end: 4;
}
.box3{
    grid-column: 2/4;
}